<div id="service" class="container">
	<h2 class="text-center">WHAT WE DO</h2>
	<div class="row padding">
		<div class="col-sm-12 col-md-12 mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<div class="event card-body">
					<h5 class="card-title">EVENT MANAGEMENT</h5>
					<p class="card-text">
						As a full-service marketing and advertising company, we perform all the roles of both event planning company and event management company through providing integrated event management services tailored to suit all types of your business marketing, advertising and branding events.
					</p>
					<h6 class="card-title">Our event management services includes:</h6>
					<ul class="event-list">
						<li>Budget Planning </li>
						<li>Media Production Solutions</li>
						<li>Location Selecting & Negotiation</li>
						<li>Event Coordination</li>
						<li>Sponsors Coordination</li>
						<li>Transportation Management</li>
						<li>On-site Management</li>
						<li>Exhibition Management</li>
						<li>Speakers & VIP Liaison</li>
					   <li>Catering Arrangements</li>
					   <li>Designing & Production of Promotional Materials</li>
					   <li>Event Photography</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<div class="card-body">
					<h5 class="card-title"> DESIGN BRANDING</h5>
					<p class="card-text">As a creative company, we help you bring your ideas to life. We offer a complete range of creative services that engage and inspire at every touch point. From logos to brand and design books, to print and digital, You need to give your event a look that reflects the purpose? let us brand it. 
						For any printing, branding and design need we've got you covered! </p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<div class="card-body">
					<h5 class="card-title">AUDIO-VISUAL SERVICES</h5>
					<p class="card-text"> We provide professional video production services such as Documentary Videos, adverts, instructional videos, animation, photography, event coverage and livestream, etc... </p>
				</div>
			</div>
		</div>
	
	
