<div id="gallery"> 
<div class="card-title">
  <br>
  <p data-aos="zoom-in" class="text-center header-size font-size">
    Gallery
  </p>
</div><br>
<div id="servicesimage">
    <h2>Services we offer</h2><br>
       <div class="row">
         <div class="col-md-4">
           <img src="./images/image.jpg"  id="image">
           <p id="para">Fumigation </p>
        </div>
        <div class="col-md-4">
          <img src="./images/image4.png"  id="image0">
          <p id="para">General and carpets cleaning</p> 
          </div>
        <div class="col-md-4">
         <img src="./images/image2.png" id="image1">
         <p id="para">Gardening, landscaping and paving.</p>
        </div>
      </div>
     </div>
     <br>
     <div id="productsimage">
       <h2>Products</h2><br>
     <div class="row">
     <div class="col-md-4">
       <img src="./images/image3.png"  id="image3">
       <p id="para">Cleaning and gardening products</p>
     </div>
     <div class="col-md-4">
       <img src="./images/image6.jpg"  id="image4">
       <p id="para"> Office Equipments</p> 
     </div>
     <div class="col-md-4">
       <img src="./images/image5.jpg"  id="image5">
       <p id="para"></p>
     </div>
     </div>
     </div>
     </div>
