<div class="intro-section">
	<div id="slider" >
		<div class="slides">
		  <div class="slider">
			<div > <img src="./images/image.jpg"> </div>
		  </div>
		  <div class="slider">
			<div > <img src="./images/image1.jpg"> </div>
		  </div>
		  <div class="slider">
			<div > <img src="./images/image2.png"> </div>
		  </div>
		  <div class="slider">
			<div> <img src="./images/image3.png"> </div>
		  </div>
		  <div class="slider">
			<div> <img src="./images/image4.png"> </div>
		  </div>
		  <div class="slider">
			<div> <img src="./images/image5.png"> </div>
		  </div>
		</div>
		<div class="switch">
		  <ul>
			<li>
			  <div class="on"></div>
			</li>
			<li></li>
			<li></li>
			<li></li>
		  </ul>
		</div>
	  </div>
	 </div> 
	 <div class="read-text p-5">
		<p class="header-size" id="company-title"></p>
		<p class="mt-5 w-50 pm" id="company-desc"></p>
		<a 
			href="#contact" 
			class="contact btn common-bg-color mt-5"
		>Contact us</a
		>
	</div>
 </div>
</div>
	