<div class="container">
	<h2 class="text-center header-size font-size" id="service">What we Do</h2>
	<div class="row padding">
		<div class="col-sm-12 col-md-4 mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="../images/unnamed.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Prayer </h5>
					<p class="card-text"> We are a Christian ministry. We pray for people physically or online. Many people are missing people to pray for them and sadly people are so many. This ministry is dedicated to praying for people, we receive their requests and we pray for them and we see God miracles. We pray for people, we teach and encourage them to pray and teach them the word of God. (Mt.11.28). </p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<img src='../images/unnamed (8).jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">COUNSELLING</h5>
					<p class="card-text"> We have found that many people have a lot of different and heavy problems and have even lost their listeners or their listeners to relax that heavy burden on their hearts. People have a lot of problems because of the lack of a mentor and they decide to commit suicide. PWNIM We advise people and pray for them, and we give people deliverance service.
						Do not let sorrow and grief weigh on you that Jesus is ready to relieve you of the burdens you carry.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="../images/unnamed (11).jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">ORDINATION and TRAINING</h5>
					<p class="card-text"> ORDINATION: We ordain pastors, evangelists, prophets, teachers of the word of God, apostles, worshipers and praisers. 
						We offer wedding services (wedding blessing ceremony including instructions which prepare couples to wedding), baptize, funeral services</p>
						<p> TRAINING: We provide training at all levels of the church: we train pastors, evangelists, apostles, prophets, teachers, singers, deacons, protocols ... we teach the bible, we give many different teachings about the work of God, in terms of church growth. We train and teach all levels of the church to stand up for their responsibilities.</p>
				</div>
			</div>
		</div> 
